@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import-normalize;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
}
